html {
    font-size: 12px;
    font-family: Verdana;
    background-color: beige;
    color: black;
}

header {
    background-image: url("/img/dsBuffer.jpg");
    opacity: 0.5;
}

footer {
    background-image: url("/img/labda.gif");
}

